@import "~bootstrap/scss/bootstrap";

/* ----------------------------------------------- */
/* Media Queries */
/* ----------------------------------------------- */
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@media screen and (max-width: $md) {

}

/** General **/
.container {
  margin: 3.5rem auto 2.5rem auto;
}
.title {
  text-align: left;
  font-weight: bold;
  margin: 0 auto 2rem 0;
}