ul.card-carousel {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 200px;
  margin: 2rem auto 10.5rem auto;
  align-items: center;
  position: relative;
}

.cardd {
  background: #ffffff;
  border-radius: 1rem;
  padding: 0;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
  width: 25rem;
  height: 22rem;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  position: absolute;
  transform: scale(0.75) translateY(45px);
  cursor: default;
}

.cardd.prev.right {
  transform: scale(1) translateY(-70px);
  transition: all 0.7s ease-out;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
}

.cardd.active.right {
  opacity: 1;
  transform: scale(0.87) translateY(-15px);
  box-shadow: 0 30px 30px rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.cardd.next.right {
  opacity: 1;
  z-index: 1;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.25);
  transition: all 0.7s ease-in;
}

.cardd.prev.left {
  transform: scale(0.75) translateY(45px);
  transition: all 0.7s ease-out;
  opacity: 1;
  visibility: inherit;
  z-index: 0;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.25);
}

.cardd.active.left {
  opacity: 1;
  transform: scale(0.87) translateY(-15px);
  box-shadow: 0 30px 30px rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.cardd.next.left {
  transform: scale(1) translateY(-70px);
  opacity: 0;
  z-index: 1;
  transition: all 0.7s ease-in;
  visibility: hidden;
}



.card-carousel .li-card.card {
  margin: 0;
  border: none !important;
}

.title {
  font-weight: bold;
  text-align: left;
}
.controls .col:nth-of-type(1) {
  text-align: end;
}
.controls .col:nth-of-type(2) {
  text-align: left;
}
.controls .col button {
  background-color: white;
  color: black;
  border: none;
  font-size: 2rem;
}