/* ----------------------------------------------- */
/* Media Queries */
/* ----------------------------------------------- */

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@media screen and (max-width: $md) {
  //.home h1 {
  //  font-size:12px;
  //}
}

/** Categoría principal **/
.categorias {
  margin: 3.5rem auto 2.5rem auto;
}
/** Título **/
.categorias .title {
  font-weight: bold;
  margin: 0 auto 2rem 0;
}


.categorias .card-group .row {
  width:100%;
}