/* ----------------------------------------------- */
/* Media Queries */
/* ----------------------------------------------- */

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@media screen and (max-width: $md) {
  //.home h1 {
  //  font-size:12px;
  //}
}

.carousel-item {
  display: block !important;
  width:25%
}

.nuevas-recetas-2 {
  margin: 2.5rem auto;
}
.nuevas-recetas-2 .row {
  width: 100%;
}
