/* ----------------------------------------------- */
/* Media Queries */
/* ----------------------------------------------- */

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@media screen and (max-width: $md) {
  //.home h1 {
  //  font-size:12px;
  //}
}

.nuevas-recetas.container .card-group .row {
  width:100%;
}