/* ----------------------------------------------- */
/* Media Queries */
/* ----------------------------------------------- */
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@media screen and (max-width: $md) {
}
/** Receta **/
.receta {

  .card {
    border: none;
    margin: 1rem auto;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;

    /** Imagen de la receta **/
    img {
      border-radius: 1rem 1rem 0 0;
      min-height: 200px;
      max-height: 200px;
      object-fit: cover;
    }
    /** Cuerpo de la receta **/
    .card-body {
      padding: 0.5rem;

      /** Nombre de la receta **/
      .row.name {
        text-align: left;
        margin: 0.5rem auto 0.75rem auto;

        .card-title {
          font-weight: bold;
          font-size: 1.15rem;
          padding-left: 0;
          padding-right: 0;
        }
      }
      /** Demás información **/
      .row.info {
        margin-left: 0;
        margin-right: 0;
        border-top: 1px solid rgba(1, 1, 1, 0.175);
        padding-top: 1rem;

        /** Perfil **/
        .col.profile {
          .col {
            padding-left: 0;
            padding-right: 0;

            &:nth-of-type(1) {
              max-width: 5rem;
            }
          }
          /** Imagen del perfil **/
          img {
            min-height: 50px;
            max-height: 50px;
          }
          /** Nombre del perfil **/
          p {
            margin: 0.5rem auto 0;
            text-align: start;
          }
        }

        /** Categoría y dificultad **/
        .difficulty-category {
          padding-left: 0;
          padding-right: 0.5rem;

          /** Dificultad **/
          .difficulty {
            text-align: end;
            margin-bottom: 0.25rem;
          }
          /** Categoría **/
          .category {
            font-size: 0.95rem;
            font-weight: bold;
            color: #6c757d;
            text-align: end;
            margin-top: auto;
          }
        }
      }
    }
  }
}