/* ----------------------------------------------- */
/* Media Queries */
/* ----------------------------------------------- */
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@media screen and (max-width: $md) {

}
/** Categoría **/
.categoria {

  &.col {
    width: 25rem;
  }
  .card {
    margin: 1rem auto;
    border-radius: 1rem;
    border: none !important;
    cursor: pointer;

    /** Imagen de la categoría **/
    img {
      border-radius: 1rem;
      min-height: 200px;
      max-height: 200px;
      object-fit: cover;
    }
    /** Cuerpo de la categoría **/
    .card-body {
      padding: 0.5rem 0 0.5rem 0;

      /** Nombre de la categoría **/
      .name {
        text-align: left;
        margin: 0.5rem auto 0 auto;

        .card-title {
          font-weight: bold;
          font-size: 1.25rem;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}